{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong> Ellie Pang </strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class= "card-img-top"src="{{ url_for('static', filename='assets/about.JPG') }}" alt="Python Development" height="320"width="150">
                    <div class="card-body">
                    <p class="card-text">
                        <ol>
                            <li>I am half Chinese and half Vietnamese.</li>
                            <li>I have played volleyball for 6 years. The position I play is Libero.</li>
                            <li>I have a family of four including my parents and one brother.</li>
                            <li>One of my favorite places to travel is Hawaii. When my family and I take trips to Hawaii, my favorite things to do are cliff jumping into the ocean, eating shaved ice, and hiking. </li>
                            <li>My favorite season is fall and my favorite holiday is Chirstmas.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary"> Scroll to the top!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/interest.JPG') }}" alt="Flask Development" height="320">
                    <div class="card-body">
                    <p class="card-text">
                        <ol>
                            <li>I love playing indoor volleyball and also becah volleyball for fun.</li>
                            <li>My favorite thing in the world is my dog because she's cute and chubby.</li>
                            <li>My favorite thing to do is watch the sunset when I'm at the beach because it's the best veiw.</li>
                            <li>My favorite things to do with my friends is to eat good food and go to the beach.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Scroll to the top!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/gratitude.JPG') }}" alt="Flask Development" height="320">
                    <div class="card-body">
                    <p class="card-text">
                        <ol>
                            <li>I am greatful for mt dog.</li>
                            <li>I am gratful for my family</li>
                            <li>I am greatful for my friends.</li>
                            <li>I am grateful for nature and the enviroment.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Scroll to the top!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}